* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    /* background-color: rgb(112, 109, 109); */
    padding: 20px;
    width: 100%;
    height: 100vh;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

.header ul li button {
    background-color: aqua;
    padding: 14px 22px;
    border-radius: 12px;
    border: 2px solid aqua;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.header ul li button:hover {
    background-color: rgba(0, 255, 255, 0.781);
    border: 2px solid rgba(0, 255, 255, 0.911);
    transform: translateY(-2px);
}

.counter-container {
    position: relative;
    /* background-color: rgb(112, 109, 109); */
    /* background: linear-gradient(135deg, #3b82f6, #06b6d4); */
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;

    width: 100%;
    height: 100vh;
}

.counter {
    /* background: rgba(255, 255, 255, 0.25); */
    backdrop-filter: blur(10px);
    border-radius: 14px;
    color: #0f172a;
    background: linear-gradient(135deg, #d7e423, #35cc79);
    width: 25%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter h1 {
    font-size: 60px;
}





.update-btn {
    padding: 14px 80px;
    margin: 0 16px;
    font-size: 28px;
    border-radius: 20px;
    cursor: pointer;
    color: #0f172a;
    font-weight: 600;
    border: 2px solid black;
}

.update-btn:hover {
    background: #e5e7eb;
    transform: translateY(-2px);
}

.close-btn {
    position: absolute;
    background: transparent;
    font-size: 40px;
    border: none;
    top: 10px;
    right: 10px;
}

.reload-btn {
    /* color: #0f172a;
    opacity: 0.7; */

    background: transparent;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 1em;
    right: 1em;
}


/* Names Counter CSS */

.name-btn {
    padding: 14px 36px;
    margin: 0 4px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid black;
}

.name-btn:hover {
    background-color: rgb(192, 186, 186);
    transform: translateY(-2px);
}

.counter-box {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 12px;
}